* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #09203f;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.top-margin {
    margin-top: 30px;
}

.large-top-margin {
    margin-top: 100px;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-blue {
	border-image-source: linear-gradient(45deg, #83eaf1, #63a4ff);
}

ul {
    list-style-type: none;
}

button {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

body {
    background-image: url('../images/blue-sky-bg.jpg');
}

.uvi-low {
    background-color: green;
    border-radius: 5px;
    display: inline;
}

.uvi-moderate {
    background-color: yellow;
    border-radius: 5px;
    display: inline;
}

.uvi-high {
    background-color: red;
    border-radius: 5px;
    display: inline;
}